@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
section{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items:center;
  overflow: hidden;
}
header{
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  padding: 40px 100px;
  z-index: 100;
  display: flex;
  justify-content:space-between;
  align-items: center;
}
header .logo{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Dancing Script', cursive;
  font-size: 1.5em;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
  transition: .5s;
}
header .logo span{
  margin-right: 10px;
  font-size: 1.7em;
}
header .logo:hover{
  border-bottom: 1px solid #fff;
  color: #111111;
  border-radius: 50%;
}
header .toggle{
  position: relative;
  width: 40px;
  height: 40px;
  background:url(../images/menu.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
header .toggle.active{
  background:url(../images/close.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  cursor: pointer;
}
header .toggle::before{
  content:'About Me';
  position: absolute;
  right: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  padding: 2px 5px;
  background-color: #fff;
  color: #111;
  width: 90px;
  text-align: center;
}
header .toggle.active::before{
  content:'Back';
}
section video{
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.glass{
  position: absolute;
  top:0;
  left:0;
  width: 40%;
  height: 100%;
  z-index: 1;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  -o-backdrop-filter: blur(15px);
  -moz-backdrop-filter: blur(15px);
  box-shadow: 10px 0 15px rgba(0, 0, 0, .5);
  transition: .5s;
  transition-delay: 1s;
}
section.active .glass{
  width: 100%;
  backdrop-filter: blur(20px);
  transition-delay: 0s;
}
section .content{
  position: relative;
  z-index: 10;
  text-align: center;
  transition: .5s;
  transition-delay: 1s;
}
section.active .content{
  opacity: 0;
  visibility: hidden;
  transform: translateX(-200px);
  transition-delay: 0s;

}
section .content h2{
  position: relative;
  color: #fff;
  font-size: 10vw;
  line-height: 0.55;
  text-shadow: 0 5px 5px rgba(0, 0, 0, .2);
  font-family: 'Dancing Script', cursive;
}
section .content h2 span{
  font-size: 0.2em;
  font-weight: 300;
  letter-spacing: 5px;
  background: #fff;
  color: #111;
  padding: 0 10px;
  text-shadow: 0 5px 5px rgba(0, 0, 0, .2);
  box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
  text-transform: uppercase;
}
section .content p{
  color: #fff;
  margin-top: 15px;
  backdrop-filter: blur(15px);
  box-shadow: 5px 5px 4px rgba(0, 0, 0, .5);
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
}
section .sci{
  position: absolute;
  bottom: 40px;
  right: 100px;
  display: flex;
  z-index: 100;
}
section .sci li{
  list-style: none;
  margin: 5px;
  border-radius: 3px;
  background: #fff;
  color: #111;
  transition: .3s;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, .5);
  /* transition-delay: calc(.1s * var(--i)); */
}
section.active .sci li{
  opacity: 0;
  visibility: hidden;
  transform: translateY(100px);
}
section .sci li a {
  color: #111;
  text-decoration: none;
  display: inline-block;
  letter-spacing: 2px;
  font-weight: 500;
  font-size:12px;
  text-transform: uppercase;
  padding: 10px;
  transition: .3s;
}
section .sci li a:hover,
section .sci li:hover{
  background: rgba(0, 0, 0, .1);
  color: #fff;
  backdrop-filter: blur(15px);
  filter: blur(1px);
  box-shadow: 5px 5px 4px rgba(0, 0, 0, .5);
}
section .navigation{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  z-index: 100;
  font-family: 'Times New Roman', Times, serif;
}
section .navigation div {
  text-align: center;
  margin: 15px 0;
  opacity: 0;
  visibility: hidden;
  backdrop-filter: blur(15px);
  box-shadow: 5px 5px 4px rgba(0, 0, 0, .5);
  color: #fff;
  font-size: 1.5em;
  letter-spacing: 3px;
  font-weight: 300;
  text-transform: capitalize;
  padding: 4px 10px;
  transition: .3s;
  border-radius: 10px;
}
section.active .navigation div{
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
section .navigation div:hover{
  backdrop-filter: blur(25px);
  box-shadow: 10px 10px 25px rgba(0, 0, 0, .5);
}
@media (max-width:991px){
  header{
    padding: 20px;
  }
  section .sci{
    bottom: 20px;
    right: 20px;
  }
  .glass{
    width: 60%;
  }
  section .content h2{
    font-size: 11vh;
  }
  section .content h2 span{
    font-size: .22em;
    letter-spacing: 2px;
    padding: 0 5px;
  }
}