@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
/* Start Global Rules */
:root{
  --mainColor:#111;
  --secColor:#fff;
  --textColor:#777;
  --mainPadding:80px;
  --fontTitle:'Dancing Script', cursive, sans-serif;
  --fontText:'Courier New', Courier, monospace, sans-serif;
  --secFont:'Josefin Sans', sans-serif;
  --mainTransition: .3s;
}
::selection{
  background-color: var(--mainColor);
  color: var(--secColor);
}
html{
  scroll-behavior: smooth;
}
body{
  background-color:#FAFCFF;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
.container{
  margin-left:auto;
  margin-right:auto;
  padding-left:15px;
  padding-right:15px;
}
/* @Media */
@media(min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media(min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media(min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Class */
.title{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title p{
  color: var(--textColor);
}
.sp{
  font-family: var(--fontText);
  font-size: 3rem;
  font-weight: 200;
  margin-bottom: 40px;
}
.glass{
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  -o-backdrop-filter: blur(15px);
  -moz-backdrop-filter: blur(15px);
  box-shadow: 10px 0 15px rgba(0, 0, 0, .5);
}
.btn{
  color: var(--secColor);
  background: var(--mainColor);
  padding: 8px 20px;
  width: 150px;
  border-radius:5px;
  text-align: center;
  transition: .5s;
  border: 2px solid #000;
  margin: 0 auto;
}
.btn:hover{
  color: var(--mainColor);
  background: var(--secColor);
}
/* Start Section */
section{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items:center;
  overflow: hidden;
}
/* Logo */
.logo{
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  padding: 40px 100px;
  z-index: 100;
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.logo .icon{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--fontTitle);
  font-size: 1.5em;
  color: var(--secColor);
  font-weight: 700;
  text-decoration: none;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
  transition: var(--mainTransition);
}
.logo .icon span{
  margin-right: 6px;
  font-size: 1.2em;
}
.logo .icon:hover{
  color: var(--mainColor);
}
.logo .toggle{
  position: relative;
  width: 40px;
  height: 40px;
  background:url(../images/menu.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.logo .toggle.active{
  background:url(../images/close.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  cursor: pointer;
}
.logo .toggle::before{
  content: 'Info';
  position: absolute;
  left: 50%;
  top: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  padding: 2px 5px;
  background-color: var(--secColor);
  color: var(--mainColor);
  width: 50px;
  text-align: center;
  transform: translateX(-50%);
}
.logo .toggle.active::before{
  content:'Back';
}
section video{
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overlay{
  position: absolute;
  top:0;
  left:0;
  width: 40%;
  height: 100%;
  z-index: 1;
  transition: var(--mainTransition);
  transition-delay: 1s;
}
section.active .overlay{
  width: 100%;
  backdrop-filter: blur(20px);
  transition-delay: 0s;
}
/* Start Navbar */
section .navbar{
  position: relative;
}
section .navbar ul.nav_menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 20px 15px;
  position: fixed;
  left: 50%;
  bottom:50px;
  transform: translateX(-50%);
  z-index: 999;
  border-radius: 10px;
}
section .navbar ul.nav_menu li svg{
  transition: var(--mainTransition);
  font-size: 21px;
  color: var(--mainColor);
  cursor: pointer;
}
section .navbar ul.nav_menu li:hover svg{
  color: var(--textColor);
  background-color: var(--secColor);
  border-radius: 50%;
}
/* End Navbar */
section .content{
  position: relative;
  z-index: 10;
  text-align: center;
  transition: var(--mainTransition);
  transition-delay: 1s;
}
section.active .content{
  opacity: 0;
  visibility: hidden;
  transform: translateX(-200px);
  transition-delay: 0s;
}
section .content h2{
  position: relative;
  color: var(--secColor);
  font-size: 10vw;
  line-height: 0.55;
  text-shadow: 0 5px 5px rgba(0, 0, 0, .2);
  font-family: var(--fontTitle);
}
section .content h2 span{
  font-size: 0.2em;
  font-weight: 300;
  letter-spacing: 5px;
  background: #fff;
  color: #111;
  padding: 0 10px;
  text-shadow: 0 5px 5px rgba(0, 0, 0, .2);
  box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
  text-transform: uppercase;
}
section .content p{
  color: #fff;
  margin-top: 15px;
  backdrop-filter: blur(15px);
  box-shadow: 5px 5px 4px rgba(0, 0, 0, .5);
  font-size: 16px;
  font-family: var(--fontText);
}
section .sci{
  position: absolute;
  bottom: 40px;
  right: 100px;
  display: flex;
  z-index: 100;
}
section .sci li{
  list-style: none;
  margin: 5px;
  border-radius: 3px;
  background: var(--secColor);
  color: var(--mainColor);
  transition: var(--mainTransition);
  box-shadow: 5px 5px 4px rgba(0, 0, 0, .5);
}
section.active .sci li{
  opacity: 0;
  visibility: hidden;
  transform: translateY(100px);
}
section .sci li a {
  color: var(--mainColor);
  text-decoration: none;
  display: inline-block;
  letter-spacing: 2px;
  font-weight: 500;
  font-size:12px;
  text-transform: uppercase;
  padding: 10px;
  transition: var(--mainTransition);
}
section .sci li a:hover,
section .sci li:hover{
  background: rgba(0, 0, 0, .1);
  color: #fff;
  backdrop-filter: blur(15px);
  filter: blur(1px);
  box-shadow: 5px 5px 4px rgba(0, 0, 0, .5);
}
section .navigation{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  z-index: 100;
  font-family: var(--secColor);
}
section .navigation div {
  text-align: center;
  margin: 15px 0;
  opacity: 0;
  visibility: hidden;
  backdrop-filter: blur(15px);
  box-shadow: 5px 5px 4px rgba(0, 0, 0, .5);
  color: #fff;
  font-size: 1.5em;
  letter-spacing: 3px;
  font-weight: 300;
  text-transform: capitalize;
  padding: 4px 10px;
  transition: var(--mainTransition);
  border-radius: 10px;
}
section.active .navigation div{
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
section .navigation div:hover{
  backdrop-filter: blur(25px);
  box-shadow: 10px 10px 25px rgba(0, 0, 0, .5);
}
@media (max-width:991px){
  .logo{
    padding: 20px;
  }
  section .sci{
    bottom: 20px;
    right: 20px;
  }
  .overlay{
    width: 60%;
  }
  section .content h2{
    font-size: 11vh;
  }
  section .content h2 span{
    font-size: .22em;
    letter-spacing: 2px;
    padding: 0 5px;
  }
}
/* End Section */
/* Start About Me */
.about{
  padding-top: var(--mainPadding);
  padding-bottom: var(--mainPadding);
}
.about .about-me{
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 5rem;
}
.about .about-me .about_info{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap:1.5rem;
  margin-bottom: 2rem;
}
@media(max-width:993px){
  .about .about-me{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }  
}
.about .about-me .about_info .about_boxes{
  display: flex;
  align-items: center;
  gap: 15px;
}
.about .about-me .about_info .about_boxes .about_box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  padding: 15px 10px;
  width: 120px;
  border: 5px double #e6e6e7;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(11, 17, 30, .1);
}
.about .about-me .about_info .about_boxes .about_box svg{
}
.about .about-me .about_info .about_boxes .about_box .text{
  font-family: var(--secFont);
  font-weight: 600;
  font-size: 12px;
}
.about .about-me .about_info .about_boxes .about_box .subtitle{
  font-size: 9px;
  font-weight: 200;
  font-family: var(--secFont);
}
.about .about-me img{
  width: 350px;
  height: auto;
}
/* End About Me */
/* Start Projects */
.projects{
  padding-top: var(--mainPadding);
  padding-bottom: var(--mainPadding);
}
.projects .my-project{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 40px;
}
.projects .my-project .box {
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  transition: transform var(--mainTransition), box-shadow var(--mainTransition);
  padding: 5px;
  border: 5px double #e6e6e7;
}
.projects .my-project .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}
.projects .my-project .box img {
  width:100%;
  max-width:100%;
  height:250px;
}
.projects .my-project .box .content {
  padding: 10px;
  height: 100px;
}
.projects .my-project .box .content h3 {
  font-family: var(--secFont);
  margin: 0;
}
.projects .my-project .box .content p {
  margin: 5px 0 0;
  line-height: 1.5;
  color: var(--textColor);
}
.projects .my-project .box .info {
  padding: 20px;
  border-top: 5px double #e6e6e7;
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.projects .my-project .box .info a:first-of-type{
  color: var(--mainColor);
  font-family:var(--secFont);
  font-size: 14px;
  font-weight:bold;
  display:flex;
  justify-content:center;
  align-items:center;
  gap:5px;
  transition:.3s;
}
.projects .my-project .box .info a:first-of-type svg{
  animation: rotate 1.5s linear infinite;
}
.projects .my-project .box .info a:last-of-type svg {
  font-size: 1.7em;
  border-radius: 50%;
}
.projects .my-project .box .info a:hover:first-of-type{
  color: var(--textColor);
}
.projects .my-project .box:hover .info a:first-of-type{
  animation: moving-arrow 2s linear infinite;
}
/* Start Footer */
footer{
  padding-top: var(--mainPadding);
  padding-bottom: var(--mainPadding);
  background: rgba(0, 0, 0, .9);
  padding: 20px;
  text-align: center;
}
footer .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .copyright{
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}
footer .container .links{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
footer .container .links a{
  color: var(--secColor);
}
footer .date{
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}
/* End Footer */
/* Scroll to Top */
.scrollTop{
  position: fixed;
  bottom: 70px;
  right: -50px;
  font-size: 20px;
  padding: 3px 5px;
  background: var(--mainColor);
  color: var(--secColor);
  border-radius: 5px;
  transition: .3s;
  cursor: pointer;
  border: 2px solid #000;
}
.scrollTop.show{
  right: 10px;
}
.scrollTop:hover{
  background: var(--secColor);
  color: var(--mainColor);
}
/* Animation */

@keyframes moving-arrow {
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(-360deg);
}
100% {
    transform: rotate(0deg);
  }
}
